# ignore semua file/folder di root
/*

# kecualikan folder localized_data agar ikut di-track
!/localized_data/
!/localized_data/**

# agar .gitignore sendiri tetap di track
!/index.json
!/.gitignore
!/localized_data/config.json