# ignore semua file/folder di root
/*

# kecualikan folder localized_data agar ikut di-track
!/localized_data/
!/localized_data/**

# EXCLUDE .vscode di dalam localized_data
/localized_data/.vscode/
/localized_data/.vscode/**

# agar file tertentu tetap di-track
!/index.json
!/.gitignore
!/localized_data/config.json